FEM/FEM.sln
FEM/.vs/FEM/v16/.suo
FEM/.vs/FEM/v16/Browse.VC.db
FEM/.vs/FEM/v16/ipch/AutoPCH/14674bcd5603e699/MAIN.ipch
FEM/.vs/FEM/v16/ipch/AutoPCH/3ca84ae05f82160a/LAB2.ipch
FEM/.vs/FEM/v16/ipch/AutoPCH/446aade063a5bdd1/LAB3.ipch
FEM/.vs/FEM/v16/ipch/AutoPCH/61d9fe0a732810d6/MAIN.ipch
FEM/.vs/FEM/v16/ipch/AutoPCH/6cbd9e7028e62589/LAB2.ipch
FEM/.vs/FEM/v16/ipch/AutoPCH/f22ebf1d5ee03ff9/MESH(LAB1).ipch
FEM/FEM/FEM.vcxproj
FEM/FEM/FEM.vcxproj.filters
FEM/FEM/FEM.vcxproj.user
FEM/FEM/Debug/FEM.log
FEM/FEM/Debug/vc142.idb
FEM/FEM/Debug/vc142.pdb
FEM/FEM/Debug/FEM.tlog/CL.command.1.tlog
FEM/FEM/Debug/FEM.tlog/FEM.lastbuildstate
FEM/FEM/Debug/FEM.tlog/unsuccessfulbuild
FEM/FEM/x64/Debug/FEM.exe.recipe
FEM/FEM/x64/Debug/FEM.log
FEM/FEM/x64/Debug/vc142.idb
FEM/FEM/x64/Debug/vc142.pdb
FEM/FEM/x64/Debug/FEM.tlog/CL.command.1.tlog
FEM/FEM/x64/Debug/FEM.tlog/FEM.lastbuildstate
FEM/FEM/x64/Debug/FEM.tlog/link.command.1.tlog
FEM/FEM/x64/Debug/FEM.tlog/link.read.1.tlog
FEM/FEM/x64/Debug/FEM.tlog/link.write.1.tlog
FEM/FEM/x64/Debug/FEM.tlog/unsuccessfulbuild
FEM/x64/Debug/FEM.exe
FEM/x64/Debug/FEM.ilk
FEM/x64/Debug/FEM.pdb
